body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index.css */
.icon-button-style {
  background-color: #ffffff !important;  /* White background */
  border-radius: 50% !important;       /* Circular shape */
  padding: 8px !important;             /* Increased padding for better size */
  transition: background-color 0.3s ease !important; /* Smooth transition for hover effect */
}

.icon-button-style:hover {
  background-color: rgba(255, 255, 255, 0.8) !important; /* Lighter background on hover */
}

.icon-button-style.Mui-disabled {
  background-color: rgba(255, 255, 255, 0.6) !important; /* Lighter white when disabled */
  color: rgba(0, 0, 0, 0.4) !important;                   /* Dimmed color for disabled state */
}

.searchBox {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8); /* Transparent white */
  z-index: 1000;
  display: flex;
  justify-content: center;
  width: 500px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.toolBox {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); /* Correct box-shadow */
  padding: 10px; /* Use px for padding */
  border-radius: 8px; /* Use px or any other unit */
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Ensure gap is defined properly */
}

.saveMapCenterButton {
  position: fixed;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); /* Correct box-shadow */
  padding: 10px; /* Use px for padding */
  border-radius: 8px; /* Use px or any other unit */
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Ensure gap is defined properly */

}

.filterPanel {
  position: fixed;
  top: 30%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 5px;
  z-index: 1000;
  width: 300px;
  transition: transform 0.3s ease; /* Smooth sliding animation */
  overflow: hidden; /* Hide content when collapsed */
}

.filterPanel.collapsed {
  transform: translateX(-100%); /* Fully hide panel when collapsed */
}

.filterPanel.expanded {
  transform: translateX(0); /* Show panel when expanded */
  left: 5px;
}

.MuiFormControl-root .MuiSlider-root {
  margin-left: auto;
  margin-right: auto;
}

.filterExpandButton {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  /* Correct box-shadow */
  padding: 10px;
  /* Use px for padding */
  border-radius: 8px;
  /* Use px or any other unit */
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Ensure gap is defined properly */
}

.filterCollapsButton {
  background-color: #ffffff !important;  /* White background */
  border-radius: 50% !important;       /* Circular shape */
  padding: 8px !important;             /* Increased padding for better size */
  transition: background-color 0.3s ease !important; /* Smooth transition for hover effect */
  margin-left: 140px !important;
}

/* For screens smaller than 600px (mobile view) */
@media (max-width: 600px) {
  .icon-button-style {
    padding: 4px !important;  /* Smaller padding for mobile devices */
  }

  .searchBox {
    width: 300px;
  }
}

